[user]
	name = Tan Long
	email = tanloong@foxmail.com
[credential]
	helper = store
[alias]
    a = add
    b = branch
    c = commit -m
    amend = commit --amend # ammend your last commit
    co = checkout
    nb = checkout -b # create and switch to a new branch
    d = diff # diff unstaged changes
    dc = diff --cached # diff staged changes
    last = diff HEAD^ # diff last committed change
    l = log --graph --date=short
    pl = pull
    ps = push
    r = remote -v
    s = status
    t = tag -n # see tags with <n> lines of each tag message
[core]
	longpaths = true
	quotepath = false
[pull]
	rebase = true
[branch]
	sort = -committerdate
[column]
	ui = column,nodense
