set bell-style none
set editing-mode vi
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
set show-mode-in-prompt off # 在左侧显示 mode 信息
# The double tab can be changed to a single tab by setting
set show-all-if-unmodified on
# insert a # character when the # command (“insert comment”) is issued. For the
# shell, this comments out the current line but inserts it into the history for
# later recall and editing
set comment-begin #

######################
# Color files by types
######################
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On
