priority 100

snippet "^(\s*)for" "for" r
`!p snip.rv=match.group(1)`for ($0) {
	<<>>
}
endsnippet

snippet "^(\s*)if" "if" r
`!p snip.rv=match.group(1)`if ($0) {
	<<>>
}
endsnippet

snippet b "BEGIN" b
BEGIN {
	$0
}
endsnippet

snippet e "END" b
END {
	$0
}
endsnippet

snippet ` "$" iA
\$$0
endsnippet

snippet lrc "{}" wA
{
	$0
}
endsnippet

snippet p "printf" w
printf("$0")
endsnippet
